@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: "Space Mono", monospace;
}

.prose {
  overflow-wrap: break-word;
  word-break: break-word;
}

.prose pre {
  overflow-x: auto;
  word-break: normal;
}
